.flex{
    display: flex;
    flex-direction: column;
}
.center{
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}