.flex{
    display: flex;
    flex-wrap: wrap;
}
.centerimg1{
    justify-content: center;
    margin: auto;
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}